.tasks-wrapper {
    grid-column: 1;
    grid-row: 2;
}

#dark .tasks-wrapper h2 {
    color: white;
}

.tasks-wrapper #tdy-task {
    color: var(--sec-color);
}

.tasks-wrapper .see-more-btn h3 {
    font-size: 1rem;
}

.tasks-wrapper .see-more-btn {
    background-color: var(--light-blue);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--main-color);
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1025px) {
    .tasks-wrapper {
        grid-column: 1;
        grid-row: 3;
    }
}
