nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--main-color);
    padding:0 50px;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr .5fr;
    color: white;
    z-index: 99;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.nav__brand {
    font-size: 16px;
    cursor: pointer;
}

.nav__brand h1 span {
    color: var(--light-green);
}

.nav__menu {
    grid-column: 3;
    width: 100%;
}

.nav__list {
    cursor: pointer;
}


.nav__lists {
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.nav__acc-icon {
    height: 40px;
    width: 40px;
    background-color: white;
    color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.nav__theme-icon {
    grid-column: 3;
    justify-self: end;
    display: none;
}

.nav-mobile {
    z-index: 99;
    box-shadow: 0 0 8px 5px rgba(0,0,0,.2);
    position: fixed;
    bottom: 20px;
    margin: auto;
    left: 0;
    right: 0;
    width: 350px;
    background-color: var(--main-color);
    border-radius: 20px;
    height: 85px;
    color: white;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.acc-info {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    top: 90px;
    right: 50px;
    width: 300px;
    color: var(--dark-green);
    height: 400px;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.acc-info__option p {
    padding: 20px 30px;
    cursor: pointer;
    margin: 0;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 0 30px;
    }

    .nav__menu {
        display: none;
    }

    .nav__theme-icon {
        display: block;
    }

    .nav-mobile {
        display: flex;
    }

    .acc-info {
        width: 90%;
        margin: auto;
        left: 0;
        right: 0;
        top: calc(85% - 405px);
    }
}

@media screen and (max-height: 600px) {
    .acc-info {
        height: 340px;
        top: calc(85% - 380px);
    }
    .acc-info__option p {
        padding: 10px 30px;
    }
    
}

@media screen and (max-width: 375px) {
    .nav-mobile {
        width: 90%;
        padding: 0 35px;
    }
}

#dark .acc-info {
    background-color: #3E5C6F;
}

.acc-info__profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.acc-info__option {
    width: 100%;
}

#dark .acc-info h1  {
    color: white;
}

.acc-info__option p:hover {
    background-color: rgb(244,244,244);
}

#dark .acc-info__option p:hover {
    background-color: #256D85;
}

.acc-info__profile h2, .nav__acc-icon, .acc-info>* {
    user-select: none;
}