.sub-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;
    padding: 40px 15px;
    margin: auto;
    gap: 20px;
    overflow-x: scroll;
}

.sub-container:has(.skeleton) {
    overflow: hidden;
}
